# Ignore ignition runtime data created by container
/ignition/data/*
!/ignition/data/projects
!/ignition/data/projects/**
!/ignition/data/projects/scada-practice
!/ignition/data/projects/scada-practice/**

# Ignore ignition project resource caches
/ignition/data/projects/.resources/
/ignition/data/projects/.resources/**

# Ignore runtime binary/store files produced by Designer
/ignition/data/projects/**/*.bin
/ignition/data/projects/**/*.idb

# Ignore common OS/editor files
.DS_Store
*.swp
*.swo
