# Ignore ignition runtime data created by container
/ignition/data/*
!/ignition/data/projects
!/ignition/data/projects/**
!/ignition/data/projects/scada-practice
!/ignition/data/projects/scada-practice/**

# Ignore ignition project resource caches
/ignition/data/projects/.resources/
/ignition/data/projects/.resources/**

# Ignore common OS/editor files
.DS_Store
*.swp
*.swo
